.facturas-coordinador {
    background-image: url(../images/apartments.jpg);
    background-position: bottom;
    background-size: cover;
}

.container-facturas {
    height: 768px;
    width: 90%;
    background-color: white;
    opacity: 0.95;
    float: left;
}

.container-publicidad {
    height: 100vh;
    width: 10%;
    background-color: white;
    opacity: 0.95;
    float: left;
    text-align: center;
}

.container-publicidad img {
    margin-top: 50.5%;
    margin-bottom: 30%;
}

.facturas-coordinador h1 {
    font-size: 40px;
    margin: 15px;
    margin-left: 20px;
}

.facturas-coordinador h2 {
    font-size: 24px;
    margin: 10px;
    margin-left: 20px;
}

.container-facturas-usuario {
    height: 100%;
    width: 100%;
    /* background-color: gold; */
    float: left;
}

.container-facturas-coordinador {
    height: 500px;
    width: 100%;
    /* background-color: goldenrod; */
    float: left;
}

#container-completadas {
    height: 100%;
    width: 50%;
    /* background-color: purple; */
    float: left;
    border-radius: 5px;
}

#container-pendientes {
    height: 100%;
    width: 50%;
    /* background-color: indigo; */
    float: left;
}

#container-crear-factura {
    height: 500px;
    width: 50%;
    /* background-color: darkblue; */
    float: left;
}

#container-asignar-factura {
    height: 500px;
    width: 50%;
    /* background-color: dodgerblue; */
    float: left;
}

#facturas-pendientes input {
    height: auto;
    width: auto;
    padding: auto;
    margin: auto;
}

/* .sos {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    float: right;
    margin-right: 5%;
} */

.publicidad {
    height: 100%;
    width: 100%;
    /* background-color: firebrick; */
    float: left;
}

button {
    background: none;
    outline: none;
    border: solid 1px white;
    border-radius: 35px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-left: 65.8%;
    margin-bottom: 1%;
    background-color: #52d1dc;
    color: #252323;
}

button:active {
    background-color: white;
    border: solid 1px #52d1dc;
}


/*table css*/

table {
    margin-left: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-top: 15px;
    margin-bottom: 35px;
}

td,
th {
    border: 1px solid #252323;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #bbbbbf;
}

tr:hover {
    background-color: #52d1dc;
    cursor: pointer;
}

th {
    background-color: #252323;
    color: #52d1dc;
    font-weight: bold;
}


/* .border {
    border: solid 1px red;
} */

#creacion-facturas {
    margin-top: 50px;
}

#creacion-facturas select,
input {
    display: block;
    margin: 20px 20px 20px 20%;
    width: 300px;
    height: 40px;
    line-height: 50px;
    overflow: visible;
    outline: none;
}

form button {
    margin-left: 20%;
}


/* select {
    height: 25px;
} */