    body {
        overflow: hidden;
    }
    /*Header*/
    
    header {
        background-color: #232525;
        font-family: Arial, Helvetica, sans-serif;
        height: 70px;
    }
    
    .container-header {
        width: 100%;
        height: 70px;
    }
    
    .nav-header {
        width: 85%;
        float: left;
    }
    
    .logo-header img {
        width: 90%;
        padding: 6px 0 0 10px;
    }
    
    .logo-header {
        height: 70px;
        width: 10%;
        float: left;
    }
    
    .nav-header a {
        padding-top: 9px !important;
    }
    
    button {
        background-color: #52d1dc;
        border-radius: 10px;
        border: none;
        color: #252323;
        cursor: pointer;
        width: 100px;
    }
    
    .recuperasenna {
        text-align: center;
        background-attachment: fixed;
        background-image: url("../images/recupera-casa.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: .9;
        height: 70vh;
    }
    
    .rec-form {
        background-color: black;
        color: white;
        opacity: .9;
        width: 40%;
        text-align: center;
        padding: 20px;
        margin: 0 auto;
        height: 70vh;
        display: flex;
        align-items: center;
    }
    
    .rec-form form {
        border: solid 1px rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        width: 70%;
        margin: auto;
        padding: 20px;
    }
    
    .rec-form .cajasenna input {
        background: black;
        border: solid 1px rgba(255, 255, 255, 0.7);
        border-radius: 5px;
        color: #ffffff;
        height: 20px;
        width: 80%;
    }
    
    .rec-form p {
        font-size: 11.6px;
        padding: 5%;
        margin: auto;
        width: 104%;
    }
    
    .rec-form form textarea {
        background: black;
        border: solid 1px rgba(255, 255, 255, 0.7);
        border-radius: 5px;
        color: #ffffff;
        height: 90px;
        outline: none;
    }
    
    .cajasenna {
        margin: 20px;
        font-size: 20px;
    }
    
    .robotsenna {
        border: solid 1px rgba(255, 255, 255, 0.5);
        display: inline-flex;
        width: 100%;
        height: 95px;
        margin: auto;
    }
    
    .robotsenna div {
        width: 80%;
        margin: auto;
    }
    
    .robotsenna input {
        height: 25px;
        width: 25px;
        margin-left: 20px;
        flex-grow: 0;
    }
    
    .recaptcha {
        margin-left: 100px;
        height: 70px;
    }
    
    .recaptcha img {
        height: 90%;
    }
    
    button:hover {
        background-color: #bbbbbf;
    }