main {
    height: 73.5vh;
    width: 100%;
    /* background-color: red; */
    background-image: url(../images/buscar-back.jpg);
    min-height: 73.3vh;
}

.busqueda {
    background-blend-mode: luminosity;
    background-attachment: fixed;
    background-color: black;
    background-color: white;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.9);
    height: 73.5vh;
    padding: 50px;
    width: 100%;
}

.container-busqueda {
    width: 100%;
    padding: 50px;
}

.busqueda input {
    border-radius: 5px;
    height: 40px;
    width: 100%;
}

.container-select {
    display: inline-block;
    width: 25%;
}

.container-select select {
    height: 30px;
    width: 100px;
}

.container-input {
    display: inline-block;
    width: 50%;
}

.btn-buscar {
    display: inline-block;
    margin-left: 15px;
}

.container-table {
    width: 100%;
}

table {
    margin: 0 auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-top: 15px;
    margin-bottom: 35px;
}

td,
th {
    border: 1px solid #252323;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #bbbbbf;
}

th {
    background-color: #252323;
    color: #52d1dc;
    font-weight: bold;
}

tr:hover {
    background-color: #52d1dc;
    cursor: pointer;
}

button {
    border-radius: 20px;
    font-size: 15px;
    background-color: #52D1DC;
    font-weight: bold;
    cursor: pointer;
    color: #232525;
    padding: 10px;
    border-color: #52D1DC;
    outline: none;
}

.estado-activo {
    background: #A3CB38;
    color: #A3CB38;
}

.estado-inactivo {
    background: red;
    color: red;
}

.estado-otro {
    background: #F79F1F;
    color: #F79F1F;
}

button {
    background-color: #52d1dc;
    border-radius: 20px;
    border: none;
    color: #252323;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin-left: 20%;
}