main{
    height: 73.5vh;
}

body {
    overflow: hidden;
}

.cambiosenna {
    text-align: center;
    background-attachment: fixed;
    background-image: url("../images/fondocontrasenna.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .9;
    height: 73.5vh;
}

.cam-form {
    background-color: black;
    color: white;
    opacity: .9;
    width: 40%;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    height: 73.5vh;
    display: flex;
    align-items: center;
}

.cam-form form {
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 70%;
    margin: auto;
    padding: 20px;
}

.cam-form .cajasenna input {
    background: black;
    border: solid 1px rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    color: #ffffff;
    height: 20px;
    width: 80%;
}

.cam-form p {
    font-size: 11.6px;
    padding: 5%;
    margin: auto;
    width: 104%;
}

.cam-form form textarea {
    background: black;
    border: solid 1px rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    color: #ffffff;
    height: 90px;
    outline: none;
}

.cajasenna {
    margin: 20px;
    font-size: 20px;
}

.robotsenna {
    border: solid 1px rgba(255, 255, 255, 0.5);
    display: inline-flex;
    width: 100%;
    height: 95px;
    margin: auto;
}

.robotsenna div {
    width: 80%;
    margin: auto;
}

.robotsenna input {
    height: 25px;
    width: 25px;
    margin-left: 20px;
    flex-grow: 0;
}

.recaptcha {
    margin-left: 100px;
    height: 70px;
}

.recaptcha img {
    height: 90%;
}

button:hover {
    background-color: #bbbbbf;
}

button {
    border-radius: 20px;
    font-size: 15px;
    background-color: #52D1DC;
    font-weight: bold;
    cursor: pointer;
    color: #232525;
    padding: 10px;
    border-color: #52D1DC;
    outline: none;
}