.companeros-vivienda {
    background-image: url(../images/companeros.jpg);
    background-size: cover;
    background-position: center;
}

.companeros-vivienda h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0px 20px 20px 30px;
}

.container-companeros {
    height: 769px;
    width: 100%;
    background-color: white;
    opacity: 0.95;
}

.tarjeta-companeros {
    height: 60%;
    width: 14%;
    margin: 1% 1% 0 1%;
    float: left;
    border: 2px solid #136f63;
    border-radius: 5px;
    word-wrap: break-word;
}

.container-publicidad {
    float: right;
    height: 100%;
    width: 10%;
    /* background-color: rebeccapurple; */
    text-align: center;
}

.publicidad {
    margin-top: 20%;
}

.sos-boton{
    margin: 60% 10% 0 0;
}

.tarjeta-companeros h3 {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.tarjeta-companeros p {
    margin: 5px;
    margin-left: 10px;
}

.foto-companero {
    height: 180px;
    width: 100%;
    /* background-color: red; */
    margin-bottom: 20px;
}

#foto1 {
    background-image: url(../images/profile1.jpg);
    background-size: cover;
}

#foto2 {
    background-image: url(../images/profile2.jpg);
    background-size: cover;
}

#foto3 {
    background-image: url(../images/profile3.jpg);
    background-size: cover;
    background-position: center;
}

#foto4 {
    background-image: url(../images/profile4.jpg);
    background-size: cover;
    background-position: right;
}

#foto5 {
    background-image: url(../images/profile5.jpg);
    background-size: cover;
    background-position: center;
}

#foto6 {
    background-image: url(../images/profile4.jpg);
    background-size: cover;
}

section {
    overflow: visible;
}

button {
    height: 50px;
    width: 100px;
    outline: none;
    border: solid 2px #136f63;
    background-color: white;
    border-radius: 30px;
    color: #252323;
    font-size: 15px;
    float: left;
    margin-top: 30.6%;
    cursor: pointer;
}

button:hover {
    background-color: #52d1dc;
    border: solid 2px #52d1dc;
    color: #252323;
}

button a {
    text-decoration: none;
    color: #252323;
}
.div-boton{
    width: 5%;
    float: left;
}

/*sidebar publicidad*/