/* .dash-admin {
    background-image: url(../images/back-admin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

.container-cajas {
    /* margin-top: 20px; */
    height: 100%;
    width: 90%;
    /* background-color: white; */
    float: left;
}

.caja-info-main {
    padding: 10px;
    margin: 5px 10px 10px 24px;
    width: 45%;
    height: 50%;
    /* background-color: blue; */
    float: left;
    border: solid 2px #136f63;
    border-radius: 5px;
}

.caja-info-main h3 {
    margin: 5px;
}

.container-cajas-main {
    width: 75%;
    height: 100%;
    /* background-color: coral; */
    float: left;
}

.container-cajas-side {
    width: 25%;
    /* height:100%; */
    /* background-color: blueviolet; */
    float: left;
}

#caja-info-side-1 {
    border: solid 2px #136f63;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px 9px 0px;
    width: 95%;
    height: 70%;
    /* background-color: palegoldenrod; */
    float: left;
}

#caja-info-side-2 {
    border: solid 2px #136f63;
    border-radius: 5px;
    padding: 5px;
    margin: 30px 9px 9px 0px;
    width: 95%;
    height: 30%;
    /* background-color: palegreen; */
    float: left;
}

.container-sidebar {
    width: 10%;
    height: 100%;
    /* background-color: gold; */
    float: left;
}

.publicidad img {
    margin-top: 70%;
    margin-left: 16%;
    margin-bottom: 40%;
}

.caja-info-side h1 {
    height: 100%;
    display: inline-block;
}

.caja-info-side p {
    height: 100%;
    display: inline-block;
}

.container-cajas h1 {
    font-size: 40px;
    margin-left: 1.4%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

.botones-dashboard {
    /* display: inline-block; */
    float: right;
    margin-top: 8px;
    margin-right: 5px;
    padding: 5px;
    border: solid 2px #136f63;
    border-radius: 5px;
    background-color: #fff;
    color: #136f63;
    cursor: pointer;
    outline: none;
}

.botones-dashboard:hover {
    background-color: #136f63;
    border: solid 2px #136f63;
    color: #fff;
}

#info-viviendas {
    height: 400px;
    width: 100%;
    /* background-color: #bbbbbf; */
    float: left;
    margin-top: 10px;
    border: solid 2px #136f63;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
}

#info-proveedores {
    height: 400px;
    width: 100%;
    /* background-color: #bbbbbf; */
    float: left;
    margin-top: 10px;
    border: solid 2px #136f63;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
}

#info-notificaciones {
    height: 400px;
    width: 100%;
    /* background-color: #bbbbbf; */
    float: left;
    margin-top: 10px;
    border: solid 2px #136f63;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
}

#info-publicidad {
    height: 400px;
    width: 100%;
    /* background-color: #bbbbbf; */
    float: left;
    margin-top: 10px;
    border: solid 2px #136f63;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
}

.search-bar {
    margin: 0 auto;
    width: 95%;
    height: 30px;
    /* background-color: green; */
    border: solid 2px #136f63;
    border-radius: 5px;
    opacity: 0;
}

.search-bar input {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
}

#search-proveedores,
#search-notificaciones {
    visibility: hidden;
}

#info-usuarios {
    height: 500px;
    width: 100%;
    /* background-color: #bbbbbf; */
    float: left;
    margin-top: 10px;
    border: solid 2px #136f63;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
}

#info-anuncios {
    height: 315px;
    width: 100%;
    /* background-color: #bbbbbf; */
    float: left;
    margin-top: 10px;
    border: solid 2px #136f63;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
}

.container-datos-usuarios {
    width: 100%;
    background-color: green;
    margin: 10px;
}

.nombre-usuario {
    height: 50px;
    width: 80%;
    /* background-color: yellow; */
    float: left;
    padding: 32px 10px 0px 24px;
    margin-bottom: 20px;
}

.contenedor-imagen-usuario {
    height: 50px;
    width: 20%;
    /* background-color: lightcoral; */
    padding: 10px 10px 10px 10px;
    float: left;
    /* margin-bottom: 50px; */
}

.imagen-usuario {
    height: 60px;
    width: 60px;
    /* background-color: red; */
    border-radius: 50%;
    float: left;
}

#usuario1 {
    background-image: url(../images/profile1.jpg);
    background-size: cover;
    background-position: center;
}

#usuario2 {
    background-image: url(../images/profile2.jpg);
    background-size: cover;
    background-position: 80%;
}

#usuario3 {
    background-image: url(../images/profile3.jpg);
    background-size: cover;
    background-position: center;
}

#usuario4 {
    background-image: url(../images/profile4.jpg);
    background-size: cover;
    background-position: center;
}

#usuario5 {
    background-image: url(../images/profile5.jpg);
    background-size: cover;
    background-position: center;
}

#usuario6 {
    background-image: url(../images/profile6.jpg);
    background-size: cover;
    background-position: top;
}


/*tablas*/

table {
    margin-left: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin-top: 15px;
    margin-bottom: 35px;
    table-layout: fixed;
}

td,
th {
    border: 1px solid #252323;
    text-align: left;
    padding: 5px;
    word-wrap: break-word;
}

tr:nth-child(odd) {
    background-color: #bbbbbf;
}

tr:hover {
    background-color: #52d1dc;
    cursor: pointer;
}

.selected {
    background-color: #52d1dc !important;
}

tr:focus {
    background-color: #52d1dc;
    cursor: pointer;
}

th {
    background-color: #252323;
    color: #52d1dc;
    font-weight: bold;
}