* {
    box-sizing: border-box;
}

.container-inicio-sesion {
    height: 769px;
    width: 100%;
    /* background-color: red; */
    float: left;
    background-image: url(../images/Roommates.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-form-sesion {
    height: 100%;
    width: 50%;
    background-color: #252323;
    float: left;
    opacity: 0.9;
}

.container-imagen-inicio-sesion {
    height: 100%;
    width: 50%;
    float: left;
    /* background-color: blue; */
}

.container-imagen-inicio-sesion p {
    float: right;
    font-size: 15px;
    visibility: hidden;
}

.form-inicio-sesion {
    display: inline-block;
    margin-left: 26%;
    margin-top: 30%;
    /* background-color: aquamarine; */
}

.form-inicio-sesion input {
    margin: 20px;
    height: 40px;
    width: 400px;
    font-size: 20px;
    border-radius: 5px;
    border: solid 2px #bbbbbf;
    background-color: #252323;
    color: white;
}

.form-inicio-sesion input:focus {
    border: solid 2px #52d1dc;
    outline: none;
}

.form-inicio-sesion button {
    border: solid 2px #52d1dc;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
    height: 40px;
    width: 110px;
    font-size: 20px;
    outline: none;
    background-color: #52d1dc;
}

.form-inicio-sesion button:hover {
    background-color: #52d1dc;
    border: solid 2px white;
}

#btn-olvido-contrasenna {
    background: none;
    border: none;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    cursor: pointer;
    width: auto;
    font-size: 16px;
    font-weight: normal;
}

#btn-olvido-contrasenna:hover {
    color: #52d1dc;
}

.error-input {
    border: solid 3px red !important;
}

form {
    border: solid 1px #bbbbbf;
    border-radius: 5px;
}

button {
    background-color: #52d1dc;
    border-radius: 10px;
    border: none;
    color: #252323;
    cursor: pointer;
    width: 100px;
}