* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


/*empieza header*/

.main-header {
    background-color: #27476E;
    padding: 30px;
    height: 100px;
}

.main-nav {
    margin-top: 5px;
}

.main-nav a {
    color: #ffff;
}

.logo-nav {
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    display: block;
    float: left;
}

.main-nav ul {
    text-transform: uppercase;
    list-style-type: none;
    margin-left: 750px;
}

.main-nav ul li {
    display: inline;
    padding: 10px;
}

.main-nav ul li a {
    display: inline-block;
    text-align: right;
    text-decoration: none;
    margin-top: 10px;
}


/*termina header*/


/*empieza main*/

.logo-banner {
    background-image: url("../images/logotxt.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin-left: 570px;
    margin-top: 10px;
}


/*Mision-Vision*/

#secc-about {
    background-color: #27476E;
    color: #DFD9E2;
    min-height: 300px;
    width: 100%;
}

#titulo-about {
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
    padding: 20px;
}

.parrafo {
    margin: 10px;
    font-size: 14pt;
}

.parrafo1 {
    padding-top: 30px;
    font-size: 14pt;
}

.subtitulo-about {
    font-weight: bold;
    font-size: 15pt;
}

.block {
    align-items: center;
    padding: 30px 20px;
    float: left;
    width: 50%;
    text-align: center;
}


/* Miembros equipo */

.card {
    background: rgb(39, 71, 110);
    background: linear-gradient(0deg, rgba(39, 71, 110, 1) 0%, rgba(99, 109, 157, 1) 100%);
    display: inline-block;
    border: 10px black;
    border-radius: 7px;
    overflow: hidden;
    margin: 20px;
    width: 250px;
    height: 300px;
    transition: 0.5s all;
}

.card:hover {
    background: rgb(39, 71, 110);
    background: linear-gradient(0deg, rgba(39, 71, 110, 0.7637429971988796) 0%, rgba(99, 109, 157, 1) 100%);
    cursor: pointer;
    transform: scale(1.05);
}

.equipo-img {
    height: 225px;
    width: 250px;
}

.equipo-info {
    color: white;
    opacity: .8;
}

.equipo-info h4 {
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 15px;
}

#equipo {
    text-align: center;
    margin-bottom: 60px;
}

#equipo h1 {
    color: white;
    margin: 20px 0px;
    font-size: 35px;
}

.header {
    background-color: #3d5877;
    height: 90px;
    padding-top: 1px;
    margin-bottom: 20px;
}

.row {
    max-width: 900px;
    display: inline-block;
}


/* Trabajos */

#sct-trabajos {
    background: #3d5877;
    padding: 45px;
}

#sct-trabajos h2 {
    font-size: 32px;
    font-weight: bold;
    color: rgb(251, 252, 253);
    margin-bottom: 30px;
    text-align: center;
    border-collapse: separate;
}

.logo-roomi {
    margin-left: 25%;
}


/*Footer*/

.footer div {
    background-color: #27476E;
    color: #dfd9e2;
    width: 33.33%;
    height: 250px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footer h2 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.footer p {
    width: 80%;
    margin-left: 35px;
}

.foot-direccion {
    float: left;
}

.foot-social {
    float: left;
}

.foot-info {
    float: left;
}

.copyright {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3d5877;
    color: #dfd9e2;
    text-align: center;
    font-weight: bolder;
    padding: 50px;
    width: 100%;
}

.foot-social div {
    float: left;
    max-height: 100px;
    width: 14%;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.fb {
    background-image: url(../images/facebook.png);
    margin-left: 18%;
    margin-right: 50px;
}

.ig {
    background-image: url(../images/insta.png);
    margin-right: 50px;
}

.lki {
    background-image: url(../images/linked.png);
}

#container {
    clear: both;
    width: 100%;
    /*background-color: yellow;*/
}