* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

main {
    background-image: url(../images/metricas-fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 55%;
}

section {
    background-color: rgba(37, 35, 35, .8);
}


/*Metricas General*/

.sct-metricas-general {
    text-align: center;
    height: 200px;
}

.sct-metricas-general div {
    margin-top: 1%;
}


/*Widgets*/

.color1 {
    background: #17C0EB;
}

.card-body {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    margin: 10px;
    padding: 20px;
    width: 280px;
    height: 140px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.card-body h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.currency,
.count {
    font-size: 30px;
    font-weight: 500;
}

.card-body p {
    font-size: 16px;
    margin-top: 0;
}

.card-body i {
    font-size: 95px;
    opacity: 0.5;
}

.card-body:hover {
    background: #17C0EB;
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.9);
    cursor: pointer;
}


/*Métricas Tareas*/

.sct-metricas-tareas div {
    float: left;
    width: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.sct-metricas-tareas .tareas-porcentajes {
    padding: 150px 50px;
}

.sct-metricas-tareas .tareas-cantidades {}


/*Métricas Facturas*/

.sct-metricas-facturas {}

.sct-metricas-facturas div {
    float: left;
    width: 50%;
    margin-bottom: 6%;
    margin-left: 7%;
}

.sct-metricas-facturas .facturas-cantidades {
    margin-top: 3%;
}

.sct-metricas-facturas .facturas-porcentajes {}


/*Bar Chart*/

#chart {
    width: 600px;
    height: 300px;
    display: block;
}

.numbers {
    color: #fff;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 100%;
    display: inline-block;
    float: left;
}

.numbers li {
    list-style: none;
    height: 150px;
    position: relative;
    bottom: 145px;
}

.numbers span {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.bars {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background: #232525;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 500px;
    height: 300px;
    box-shadow: 0 0 10px 0 #555;
    border-radius: 5px;
}

.bars li {
    display: table-cell;
    width: 100px;
    height: 300px;
    position: relative;
}

.bars span {
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
}

.bars .bar {
    display: block;
    background: #17C0EB;
    width: 50px;
    position: absolute;
    bottom: 0;
    margin-left: 25px;
    text-align: center;
    box-shadow: 52d1dc;
    transition: 0.5s;
    transition-property: background, box-shadow;
}

.bars .bar:hover {
    background: #17C0EB;
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.9);
    cursor: pointer;
}

.bars .bar:before {
    color: #fff;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
}