main {
    padding: 2%;
    overflow: hidden;
}

h1 {
    font-weight: bold;
    font-size: 14pt;
    margin: 1%;
}

.contenedor-viviendas {
    width: 25%;
    padding: 1%;
    border: solid 3px #136F63;
    border-radius: 5px;
    float: left;
}

.contenedor-viviendas button {
    margin: 3% 0;
}

.contenedor-viviendas h2 {
    font-weight: bold;
    margin: 3%;
}

.contenedor-viviendas p {
    margin: 4%;
}

.contenedor-viviendas img {
    width: 32%;
    height: 12vh;
}

button {
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #52D1DC;
    width: 150px;
    margin-bottom: 1%;
}


/* iframe {
    margin-left: 2.5%;
    width: 53%;
    float: left;
    height: 65vh;
} */

.anuncio {
    width: 16%;
    height: 70vh;
    float: right;
    margin: 0 1%;
    position: relative;
}

.anuncio img {
    width: 100%;
}

.sos-boton {
    position: absolute;
    bottom: 0;
    margin-left: 75%;
}

.mapouter {
    text-align: right;
    height: 500px;
    width: 800px;
    float: left;
    margin-left: 5%;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 800px;
}

.btn-ver-vivienda {
    display: block;
}

.caja-casas {
    border: solid 2px #136F63;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
}

.caja-casas img {
    margin-left: 15px;
}

iframe {
    margin-left: 50px;
}